@mixin box  {
  border: 1px solid gray;
  width: 107px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: #2642F8;
  
}


.q{
  display: flex;
  align-items: center;
  gap: 10px;
}
.w{
   display: flex;
  align-items: center;
  gap: 0px;
 
}
.e{
  margin-top: 5px;
}
.r{
  @include box()
}
.t{
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  margin: auto;
}
.y{
  display: flex;
  align-items: center;
  gap: 20px;
}
.u{
  display: flex;
  align-items: center;
  gap: 10px;
}
.i{
  font-size: 44px;
  width: 600px;
  font-weight: 900;
  width: 417px;
}
.o{
  width: 500px;
  font-size: 18px;
}
.p{
  display: flex;
  align-items: center;
  margin-left: 200px;
  gap: 50px;
  margin-top: 100px;
}
.a{
  display: flex;
  align-items: center;
  gap: 30px;
}
.s{
  font-weight: 900;
}
.d{
  display: flex;
  align-items: center;
  gap: 10px;
}
.f{
  color: #828282;
}
.g{
  font-size: 18px;
  font-weight: 900;
  width: 340px;
}
.h{
  display: flex;
  gap: 20px;
  align-items: center;
}
.j{
   border: none;
   padding: 10px;
}
.k{
  font-size: 16px;
  width: 340px;
}
.l{
  display: flex;
  align-items: center;
  gap: 10px;
}
.z{
  font-size: 20px;
  font-weight: 900;

}
.x{
  font-weight: 300;
}
.c{
  display: flex;
  align-items: center;
  gap: 50px;
}
.v{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 50px;
}
.b{
 
  font-weight: 900;
  
}
.n{
  width: 348px;
}
.qq{
  display: flex;
  align-items: center;
  margin-left: 200px;
  gap: 50px;
  margin-top: 50px;
  
}
.ww{
  background-color: #2642F8;
  height: 440px;
}
.ee{
  font-size: 40px;
  font-weight: 900;
  width: 762px;
  padding-top: 100px;
  padding-left: 400px;
}
.tt{
  border: none;
  padding: 10px 30px;
  background-color: #FFFFFF;
  border-radius: 32px;
 margin-left: 700px;
  
}
.rr{
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
}
.yy{
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-between;
  margin: auto;
  margin-top: 50px;
}
.uu{
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  margin: auto;
  margin-top: 50px;
}
.ii{
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  margin: auto;
}
.oo{
  display: flex;
  gap: 50px;
}